@model IEnumerable<App.Admin.ViewModels.RoomViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div style="margin-left:5%;margin-right:5%">
	<h1>Rooms</h1>
	<h2>Details</h2>
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.RoomId)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.RoomName)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Price)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						<a href="/room/details/@item.RoomId">
							@item.RoomId
						</a>
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.RoomName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Price)
					</td>
					<td>
						<a class="btn btn-info" asp-action="PreviewRoomDetails" asp-route-id="@item.RoomId">Preview</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>


