@model App.Admin.ViewModels.AboutModel

@{
    ViewData["Title"] = "About";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@section Styles {
    <style>
        .image-grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .image-item {
            width: calc(25% - 20px); /* 4 images in a row with a little gap */
            margin: 10px;
            text-align: center;
        }

        .image-item img {
            max-width: 100%;
            height: auto;
        }
    </style>
}
@{
    var action = Model.Id == 0 ? "Add" : "Edit";
}
<div style="margin-left:5%;margin-right:5%">
    <h1>About</h1>

    <div>
        <h4>About Details</h4>
        <hr />
        @if (Model.AboutImages is not null)
        {
            <dl class="row">
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.HeaderAr)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.HeaderAr)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.HeaderEn)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.HeaderEn)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.AboutAr)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.AboutAr)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.AboutEn)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.AboutEn)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.AboutImages)
                </dt>
                <dd class = "col-sm-10">
                    <div class="image-grid">
                        @foreach (var image in Model.AboutImages)
                        {
                            <div class="image-item">
                                <img src="@Url.Content("~/" + image)" alt="Image"/>
                            </div>
                        }
                    </div>
                </dd>

            </dl>
        }
        else
        {
            <div>
                <h3>No Data Yet</h3>
            </div>
        }
       
    </div>
    <div>
        <a asp-action="EditAbout" asp-route-id="@Model.Id" class="btn btn-info">
            @action
        </a>
        @if (Model.AboutImages is not null)
        {
            <a class="btn btn-danger delete-button" data-toggle="modal" data-target="#deleteModal" data-item-id="@Model.Id" data-item-name="@Model.HeaderAr">Delete</a>
        }
    </div>

    <div id="deleteModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete the about details?</p>
                    <p>about header: <span id="itemName"></span></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="confirmDelete">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.delete-button').on('click', function () {
                var itemName = $(this).data('item-name');
                var itemId = $(this).data('item-id');

                $('#itemName').text(itemName);
                $('#confirmDelete').data('item-id', itemId);
                $('#deleteModal').modal('show');
            });

            $('#confirmDelete').on('click', function () {
                var itemId = $(this).data('item-id');

                $.ajax({
                    url: '/CMS/Delete/' + itemId,
                    type: 'POST',
                    headers: {
                        RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
                    },
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        if (result.success) {
                            location.reload();
                        } else {
                            alert("Sorry try again later");
                        }
                    },
                    error: function () {

                    }
                });
            });
        });
    </script>
}
