@model System.Collections.Generic.IEnumerable<App.Admin.ViewModels.CoverTexts>

@{
	ViewData["Title"] = "Covers";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div style="margin-left:5%;margin-right:5%">
	<h1>Covers</h1>

	<p>
		<a asp-action="AddCoverText" class="btn btn-info">Add New Cover</a>
	</p>

	<table class="table">
		<thead>
			@Html.AntiForgeryToken()
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Id)
				</th>
                <th>
                    @Html.DisplayNameFor(model => model.HeaderAr)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HeaderEn)
                </th>
                <th>
					@Html.DisplayNameFor(model => model.CoverTextAr)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.CoverTextEn)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.CoverImage)
				</th>
                <th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Id)
					</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HeaderAr)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HeaderEn)
                    </td>
                    <td>
						@Html.DisplayFor(modelItem => item.CoverTextAr)
					</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CoverTextEn)
                    </td>
                    <td>
                        <img src="@Url.Content("~/" + item.CoverImage)" alt="Image" style="border-radius: 50%; overflow: hidden; width: 50px; height: 50px;" />
                    </td>
                    <td>
						<a class="btn btn-danger delete-button" data-toggle="modal" data-target="#deleteModal" data-item-id="@item.Id" data-item-name="@item.CoverTextAr">Delete</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
	<div id="deleteModal" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Confirm Delete</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to delete Cover ?</p>
					<p>Cover Title: <span id="itemName"></span></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-danger" id="confirmDelete">Delete</button>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script>
		$(document).ready(function () {
			$('.delete-button').on('click', function () {
				var itemName = $(this).data('item-name');
				var itemId = $(this).data('item-id');

				$('#itemName').text(itemName);
				$('#confirmDelete').data('item-id', itemId);
				$('#deleteModal').modal('show');
			});

			$('#confirmDelete').on('click', function () {
				var itemId = $(this).data('item-id');

				$.ajax({
					url: '/cms/delete/' + itemId,
					type: 'POST',
					headers: {
						RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
					},
					dataType: "json",
					contentType: "application/json; charset=utf-8",
					success: function (result) {
						if (result.success) {
							location.reload();
						} else {
							alert("Sorry try again later");
						}
					},
					error: function () {

					}
				});
			});
		});
	</script>
}