@model IEnumerable<App.Admin.Models.CMS>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@section Styles {
	<style>
        .image-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            grid-gap: 20px;
        }

        .image-item {
            border: 1px solid #ccc;
            padding: 10px;
            text-align: center;
        }
    </style>
}
<h1>Index</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
<div class="image-grid">
	@foreach (var image in Model)
	{
		<div class="image-item">
			<img src="@Url.Content("~/"+image.Value)" alt="Image" />
			<button class="btn btn-danger" onclick="deleteImage('@image.Id')">Delete</button>
		</div>
	}
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Key)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Key)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
	<script>
        function deleteImage(imageId) {
            if (confirm("Are you sure you want to delete this image?")) {
                // Perform the delete action using AJAX or redirect to a delete action
                console.log("Image with ID " + imageId + " will be deleted.");
            }
        }
	</script>
}