@model App.Admin.ViewModels.HomeViewModel

@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="hero">
	<section class="home-slider owl-carousel">
		<div class="slider-item" style="background-image:url(images/bg_1.jpg);">
			<div class="overlay"></div>
			<div class="container">
				<div class="row no-gutters slider-text align-items-center justify-content-end">
					<div class="col-md-6 ftco-animate">
						<div class="text">
							<h2 data-i18n="slogan1">More than a hotel... an experience</h2>
							<h1 class="mb-3" data-i18n="slogan2">Hotel for the whole family, all year round.</h1>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="slider-item" style="background-image:url(images/bg_2.jpg);">
			<div class="overlay"></div>
			<div class="container">
				<div class="row no-gutters slider-text align-items-center justify-content-end">
					<div class="col-md-6 ftco-animate">
						<div class="text">
							<h2 data-i18n="hotelName">Sanbat Platinum Hotel Resort</h2>
							<h1 class="mb-3" data-i18n="slogan3">It feels like staying in your own home.</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-3">
			<div class="col-md-7 heading-section text-center ftco-animate">
				<span class="subheading" data-i18n="welcome">Welcome to Sanbat Platinum Hotel</span>
				<h2 class="mb-4" data-i18n="slogan4">You'll Never Want To Leave</h2>
			</div>
		</div>
		<div class="row d-flex">
			<div class="col-md pr-md-1 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services py-4 d-block text-center">
					<div class="d-flex justify-content-center">
						<div class="icon d-flex align-items-center justify-content-center">
							<span class="flaticon-reception-bell"></span>
						</div>
					</div>
					<div class="media-body">
						<h3 class="heading mb-3" data-i18n="service1">Friendly Service</h3>
					</div>
				</div>
			</div>
			<div class="col-md px-md-1 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services active py-4 d-block text-center">
					<div class="d-flex justify-content-center">
						<div class="icon d-flex align-items-center justify-content-center">
							<span class="flaticon-serving-dish"></span>
						</div>
					</div>
					<div class="media-body">
						<h3 class="heading mb-3" data-i18n="service2">Get Breakfast</h3>
					</div>
				</div>
			</div>
			<div class="col-md px-md-1 d-flex align-sel Searchf-stretch ftco-animate">
				<div class="media block-6 services py-4 d-block text-center">
					<div class="d-flex justify-content-center">
						<div class="icon d-flex align-items-center justify-content-center">
							<span class="flaticon-car"></span>
						</div>
					</div>
					<div class="media-body">
						<h3 class="heading mb-3" data-i18n="service3">Transfer Services</h3>
					</div>
				</div>
			</div>
			<div class="col-md px-md-1 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services py-4 d-block text-center">
					<div class="d-flex justify-content-center">
						<div class="icon d-flex align-items-center justify-content-center">
							<span class="flaticon-spa"></span>
						</div>
					</div>
					<div class="media-body">
						<h3 class="heading mb-3" data-i18n="service4">Suits & SPA</h3>
					</div>
				</div>
			</div>
			<div class="col-md pl-md-1 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services py-4 d-block text-center">
					<div class="d-flex justify-content-center">
						<div class="icon d-flex align-items-center justify-content-center">
							<span class="ion-ios-bed"></span>
						</div>
					</div>
					<div class="media-body">
						<h3 class="heading mb-3" data-i18n="service5">Cozy Rooms</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section ftco-wrap-about ftco-no-pt ftco-no-pb">
	<div class="container">
		<div class="row no-gutters">
			<div class="col-md-7 order-md-last d-flex">
				<div class="img img-1 mr-md-2 ftco-animate" style="background-image: url(images/about-1.jpg);">
				</div>
				<div class="img img-2 ml-md-2 ftco-animate" style="background-image: url(images/about-2.jpg);">
				</div>
			</div>
			<div class="col-md-5 wrap-about pb-md-3 ftco-animate pr-md-5 pb-md-5 pt-md-4">
				<div class="heading-section mb-4 my-5 my-md-0">
					<span class="subheading" data-i18n="about">About Sanbat Platinum Hotel</span>
					<h2 class="mb-4" data-i18n="recommend">Sanbat Platinum Hotel the Most Recommended Hotel All Over Saudi Arabia</h2>
				</div>
				<p data-i18n="aboutInfo">
					Explore Jazan through our hotel (Sanbat Platinum)
					Welcome to Sanbat Platinum Hotel in Jizan, Kingdom of Saudi Arabia.
					The hotel enjoys a strategic location, as it is located in the central area, next to the Sky Mall complex and the street of restaurants. It is 3 km from the airport and 2.50 km from Jizan port.
					The hotel includes sixty-two modern hotel units, including standard rooms, bridal suites, family suites, and rooms for people of determination.
					The hotel contains several services (restaurant, coffee shop, laundry) and 24-hour housekeeping, thus providing convenience for guests, especially business guests. The hotel has a health club and a shopping center, giving comfort and effort to families. The complimentary breakfast for hotel guests can be enjoyed in the restaurant (Teen and Olive), where the comfort is. The hotel provides free internet in the rooms.
				</p>
			</div>
		</div>
	</div>
</section>

<section class="testimony-section">
	<div class="container">
		<div class="row no-gutters ftco-animate justify-content-center">
			<div class="col-md-5 d-flex">
				<div class="testimony-img aside-stretch-2" style="background-image: url(images/testimony-img.jpg);">
				</div>
			</div>
			<div class="col-md-7 py-5 pl-md-5">
				<div class="py-md-5">
					<div class="heading-section ftco-animate mb-4">
						<span class="subheading" data-i18n="testimony">Testimony</span>
						<h2 class="mb-0" data-i18n="happy">Happy Customer</h2>
					</div>
					<div class="carousel-testimony owl-carousel ftco-animate">
						@foreach (var testimony in Model.Testimonies)
						{
							<div class="item">
								<div class="testimony-wrap pb-4">
									<div class="text">
										<p class="mb-4">
											@testimony.Description
										</p>
									</div>
									<div class="d-flex">
										<div class="user-img" style="background-image: url(images/user.png)">
										</div>
										<div class="pos ml-3">
											<p class="name">@testimony.UserName</p>
											<span class="position">@testimony.UserJob</span>
										</div>
									</div>
								</div>
							</div>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section ftco-no-pb ftco-room">
	<div class="container-fluid px-0">
		<div class="row no-gutters justify-content-center mb-5 pb-3">
			<div class="col-md-7 heading-section text-center ftco-animate">
				<span class="subheading" data-i18n="rooms">Sanbat Platinum Rooms</span>
				<h2 class="mb-4" data-i18n="master">Hotel Master's Rooms</h2>
			</div>
		</div>
	<div class="row no-gutters">	
		@{
			var i = 0;
		}
		@foreach (var room in Model.Rooms)
			{
				<div class="col-lg-6">
					<div class="room-wrap d-md-flex ftco-animate">
						<a class="@(i is 0 or 1 ? "img" : "img order-md-last")" style="background-image: url(@Url.Content("/"+room.CoverImagePath.Replace("\\","/")));"></a>
						<div class="@(i is 0 or 1 ? "half left-arrow" : "half right-arrow") d-flex align-items-center">
							<div class="text p-4 text-center">
								<p class="star mb-0">
									<span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span>
								</p>
								<p class="mb-0">
									<span class="price mr-1">@room.Price <span data-i18n="roomCost1">SAR</span> </span>
									<span class="per" data-i18n="per">
										per
										night
									</span>
								</p>
								<h3 class="mb-3"><a>@room.Name</a></h3>
								<p class="pt-1">
									<a asp-action="PreviewRoom" asp-route-id="@room.RoomId" class="btn-custom px-3 py-2 rounded">View Details</a>
								</p>
							</div>
						</div>
					</div>
				</div>
				i++;
				if (i == 4)
				{
					i = 0;
				}
			}
		</div>
	</div>
</section>


<section class="instagram" style="margin-top: 3%;">
	<div class="container-fluid">
		<div class="row no-gutters justify-content-center pb-5">
			<div class="col-md-7 text-center heading-section ftco-animate">
				<span class="subheading" data-i18n="team">Team</span>
				<h2><span data-i18n="ourTeam">Our Team</span></h2>
			</div>
		</div>
		<div class="row no-gutters">
			@foreach (var team in Model.Team)
			{
				<div class="col-sm-12 col-md ftco-animate">
					<a href="@Url.Content("~/" + team.Value.Replace("\\","/"))" class="insta-img image-popup"
					   style="background-image: url(@Url.Content("~/" + team.Value.Replace("\\","/")));">

					</a>
				</div>
			}
		</div>
	</div>
</section>