@model IEnumerable<App.Admin.Models.News>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div style="margin-left:5%;margin-right:5%">
	<h1>News</h1>

	<p>
		<a asp-action="Create" class="btn btn-info">Create New</a>
	</p>

	<table class="table">
		<thead>
		@Html.AntiForgeryToken()
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Title)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.TitleAr)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CoverImagePath)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ContentEn)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ContentAr)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DatePublished)
			</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Title)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.TitleAr)
				</td>
				<td>
					<img src="@Url.Content("~/" + item.CoverImagePath)" alt="Image" style="border-radius: 50%; overflow: hidden; width: 50px; height: 50px;"/>
				</td>
				<td>
					@{
						string truncatedContent = item.ContentEn.Length > 50 ? item.ContentEn.Substring(0, 50) + "..." : item.ContentEn;
					}
					@truncatedContent
				</td>
				<td>
					@{
						string truncatedContentAr = item.ContentAr.Length > 50 ? item.ContentAr.Substring(0, 50) + "..." : item.ContentAr;
					}
					@truncatedContentAr
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DatePublished)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info">Edit</a> |
					<a class="btn btn-danger delete-button" data-toggle="modal" data-target="#deleteModal" data-item-id="@item.Id" data-item-name="@item.Title">Delete</a>
				</td>
			</tr>
		}
		</tbody>
	</table>
	<div id="deleteModal" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Confirm Delete</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to delete News ?</p>
					<p>News Title: <span id="itemName"></span></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-danger" id="confirmDelete">Delete</button>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script>
        $(document).ready(function () {
            $('.delete-button').on('click', function () {
                var itemName = $(this).data('item-name');
                var itemId = $(this).data('item-id');

                $('#itemName').text(itemName);
                $('#confirmDelete').data('item-id', itemId);
                $('#deleteModal').modal('show');
            });

            $('#confirmDelete').on('click', function () {
                var itemId = $(this).data('item-id');

                $.ajax({
                    url: '/news/delete/'+itemId, 
                    type: 'POST',                    
					headers: {
						RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
					},
					dataType: "json",
					contentType: "application/json; charset=utf-8",
					success: function (result) {
                        if (result.success) {
                            location.reload();
                        } else {
							alert("Sorry try again later");
                        }
                    },
                    error: function () {

                    }
                });
            });
        });
    </script>
}